@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
  body {
    color: #d8d8d8;
    margin: auto;
    @apply max-w-4xl;
  }
  article {
    margin: auto;
    @apply max-w-5xl;
    @apply prose-invert;
    @apply prose-code:text-black;
    @apply prose-lg;
  }
}

body {
  background-color: #171a21;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.5;
}

code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}
