---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {
  content: { title, description },
} = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <article
        class="text-justify prose-base prose-a:underline prose-a:underline-offset-4"
      >
        <div class="flex flex-col">
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
